.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 64px;
  align-items: center;
}
.cart-item {
  margin-top: 10px;
  margin-left: 10px;
}
.cart-container-total {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 64px;
  align-items: flex-end;
  margin-top: 10px;
}