<div *ngFor="let product of cart" class="cart-container">
  <span class="cart-item">{{product.name}}</span>
  <span class="cart-item">{{product.price}}</span>
  <div>
    <button (click)="downQuantity(product.id)">-</button>
    <span>{{product.quantity}}</span>
    <button (click)="upQuantity(product.id)">+</button>
    <button (click)="deleteFromCart(product.id)">x</button> 
  </div>   
</div>
<div class="cart-container-total">
  <div class="cart-item">{{quantity === 0?'Cart is empty':quantity}}</div>
  <div class="cart-item" *ngIf="total !== 0">{{total}}</div>
  <button (click)="onCheckoutHandler()" [disabled]="cart.length === 0" class="cart-item" *ngIf="quantity !== 0">Checkout</button>
</div>
