img {
  width: 320px;
  border-radius: 10px;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px;
}

.detail-item {
  margin-left: 64px;
  margin-right: 64px;
}

.back-link {
  align-self: flex-start;
}
